.post-inner-content>img {
    width: 100%;
    margin-top: 10px;
    border-radius: 1vw;
    alt: cover;
}
blockquote {
    font-size: 16px;
    color: #a8a8a8;
    font-style: italic;
    margin: 10px 0 0 0;
    padding: 20px;
    background-color: #F4F5F7;
    border-radius: 10px;
    box-shadow: inset 0 0 5px -1px rgb(0 0 0 / 20%);
}
blockquote>p {
    margin: 0;
}
blockquote:not(:nth-of-type(1)):before {
    content: '"';
    font-size: 54px;
    color: #88b0be;
    width: 50px;
    margin: 0;
    line-height: 55px;
    position: absolute;
    left: 15px;
    transform: translateY(-20px);
}
blockquote:not(:nth-of-type(1)):after {
    content: '"';
    font-size: 54px;
    color: #88b0be;
    width: 50px;
    margin: 0;
    line-height: 55px;
    position: absolute;
    right: 5px;
    transform: translateY(-5px);
}
blockquote:first-child {
    font-style: normal !important;
    font-weight: bold;
    color: #5F5F5F;
    background-color: #ffffff00;
    box-shadow: none;
    padding: 0;
    border: none;
}
blockquote:first-child::after {
    font-family: "FontAwesome";
    font-size: 30px;
    color: #5F5F5F;
    content: "\f0d7";
    display: block;
    width: 16.5px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}
hr {
    height: 10px;
    border: none;
    border-bottom: 2px solid #5F5F5F;
    margin: 0;
}
p {
    font-size: 16px;
    margin: 10px 0 0 0;
}
em,
strong {
    padding: 0 2px 0 2px;
}
ul,
ol {
    font-size: 16px;
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
}
figure > table > tbody {
    padding: 20px 20px 20px 0;
    border-top: 30px solid #d3d5db;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}
code {
    font-family: "HarmonyOS_Sans_SC_Medium";
    font-size: 16px;
    background-color: #F4F5F7;
    margin: 0 5px 0 5px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px -1px rgb(0 0 0 / 30%);
}
pre {
    font-family: "HarmonyOS_Sans_SC_Medium";
    background-color: #ffffff00;
    margin: 0;
    border: none;
    display: block;
    box-shadow: none;
}
figure {
    margin: 10px 0 0 0;
    padding: 0;
    background-color: #F4F5F7;
    border-radius: 1.5vw;
    box-shadow: inset 0 0 5px -1px rgb(0 0 0 / 20%);
}
figure::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fc625d;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    transform: translateX(10px) translateY(10px);
}
.gutter {
    color: #bbb8b8;
    border: none;
    padding: 0;
    line-height: 20px;
    padding: 0 10px 0 10px;
}
.code {
    padding: 0;
    line-height: 20px;
    border: none;
}

table {
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: #F4F5F7;
    border-radius: 10px;
    box-shadow: inset 0 0 5px -1px rgb(0 0 0 / 20%);
}
th,
td {
    border: 2px solid #e2e2e2;
    padding: 10px 0 10px 0;
}
thead th {
    border-top: none;
}
th:first-child,
td:first-child {
    border-left: none;
}
th:last-child,
td:last-child {
    border-right: none;
}
tbody tr:last-child td {
    border-top: none;
    border-bottom: none;
}

.MathJax_Display {
    font-size: 16px;
    margin: 10px 0 0 0 !important;
}      