.home {
    animation: home 1s ease-in-out;
}
.blog-header {
    animation: header 1s ease-in;
}
.main {
    animation: pages 1s ease-in;
}
@keyframes home {
    0% {
        opacity: 0;
        transform: translateY(-100px);
      }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes header {
    0% {
        transform: translateY(-150px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes pages {
    0% {
        transform: translateY(-150px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes pagein {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}