body {
    animation: bgbody 1s ease-in-out;
}
.posts,
.navbar {
    animation: main 1s ease-in-out;
}
.blog-header-container {
    animation: header 1s ease-in-out;
}
@keyframes bgbody {
    0% {
        opacity: 0;
        transform: translateY(-100px);
      }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes main {
    0% {
        transform: translateY(-150px);
        z-index: 0;
    }
    100% {
        transform: translateY(0);
        z-index: 0;
    }
}
@keyframes header {
    0% {
        transform: translateY(-150px);
        z-index: 1;
    }
    100% {
        transform: translateY(0);
        z-index: 1;
    }
}