html {
    font-family: "HarmonyOS_Sans_SC_Medium";
    background-color: #eceff5;
    display: inline-flex;
    justify-content: center;
}
body {
    width: 50vw;
    min-width: 500px;
    min-height: 100vh;
    margin: 0;
    background-color: #eceff5;
    box-shadow: 0 0 30px 0 #0000007a;
    font-size: 5vw;
    color: #5f5f5f;
}

.header {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}

.blog-background {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.blog-header-container {
    width: 50vw;
    position: absolute;
    top: calc(300px - min(7.5vw, 75px));
    display: inline-flex;
    justify-content: flex-start;
    z-index: 0;
}

.blog-head {
    width: 15vw;
    max-width: 150px;
    max-height: 150px;
    border-radius: 10%;
    border: 0.5vw solid #ffffff;
    background-color: #ffffff;
    transform: scale(0.8);
}
.blog-head::before {
    content: "";
    padding-top: 100%;
    display: block;
}

.blog-word-container {
    font-family: "Times", "方正标雅宋体";
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform: translateY(-1vw);
}
.blog-title {
    font-size: 3vw;
    font-weight: bold;
    color: #ffffff;
    align-items: center;
}
.blog-motto {
    font-size: 1.5vw;
    font-weight: bold;
    color: #858585;
}

.main {
    font-size: 10px;
}
.posts {
    display: grid;
    grid-row-gap: 10px;
    padding: 10px 10px 0 10px;
    background-color: #eceff5;
}
.post {
    background-color: #ffffff;
    border-radius: 5px;
}
.post-header {
    display: inline-flex;
}
.post-head {
    width: 5vw !important;
    border-radius: 50%;
    margin: 10px;
}
.post-poster-time-container {
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
}
.poster {
    font-size: 1.2vw;
}
.post-time {
    font-size: 1vw;
    color: #858585;
}

.post-title {
    height: 2vw;
    margin: 0 0 0 10px;
}
.post-title-link {
    text-decoration: none;
    color: #5f5f5f;
    font-size: 1.5vw;
    font-weight: bold;
    transition: all 0.5s ease-in-out 1s;
}
.post-title-link:hover {
    color: #88b0be;
    text-decoration: underline;
    transition: all 0.5s;
}

.post-content {
    margin: 0 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content p {
    display: none;
}
.post-content>blockquote {
    margin: 0;
    grid-area: 1 / 1 / 2 / 4;
}
.post-content>blockquote>p {
    display: block;
    font-size: 1.2vw;
}
.post-content>img {
    width: 100%;
    min-height: max(calc((50vw - 50px) / 3),150px);
    border-radius: 5px;
    object-fit: cover;
}
.post-content>img:nth-of-type(n+10) {
    display: none;
}

.page-nav {
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    line-height: 60px;
    font-size: 1vw;
    font-family: "Times";
    font-weight: bold;
}
.page-number,
a.extend.prev,
a.extend.next {
    text-decoration: none;
    color: #000000;
    margin: 0 10px 0 10px;
}
.page-number:hover,
a.extend.prev:hover,
a.extend.next:hover {
    color: #88b0be;
}
.page-number.current {
    text-decoration: none;
    color: #acacac
}

