body {
    width: 100%;
}
.post-inner {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    font-size: 1vw;
    background: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(5px);
    z-index: 3;
}
.post-inner-container {
    width: 70%;
    min-width: 550px;
    border-radius: 1.5vw;
    padding: 10px;
    margin: 30px 0 0 0;
    background: hsla(0, 0%, 100%, .8);
    backdrop-filter: saturate(200%) blur(20px);
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
}

.post-inner-header {
    font-family: "Times", "方正标雅宋体";
    display: inline-flex;
    align-items: flex-end;
}
.post-inner-title>h2 {
    font-size: 3vw;
    font-weight: bold;
    margin: 0 10px 0 0;
}
.post-inner-time {
    font-size: 1.5vw;
    color: #858585;
}

.post-inner-content {
    background: hsla(0, 0%, 100%, .8);
    box-shadow: 0 -10px 30px rgb(0 0 0 / 20%);
    padding: 0 10px 10px 10px;
    border-radius: 1vw;
}
.post-inner {
    animation: post-inner 1s ease-in !important;
}
.post-inner-content {
    animation: post-inner-content 1.5s ease-in !important;
}
@keyframes post-inner {
    0% {
        opacity: 0;
        transform: translateY(-30px);
      }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes post-inner-content {
    0% {
        opacity: 0.8;
        transform: translateY(-35px);
      }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}